# Ignore all files
*

# Except the following
!*.md
!*.ipynb
!*.py
!cat-dataset/
!cat-spectrograms-1/
!cat-spectrograms-1/*
!cat-spectrograms-2/
!cat-spectrograms-2/*
!training_images/
!training_images/*
!reconstructedImages/